<div class="w-full h-full flex flex-col items-center pt-10">
	<p class="font-Roboto font-bold text-[1.3rem]">FROGGY NOTES v0.35</p>

	<div class="w-[90vw] mobileM:w-[350px] h-[390px] flex flex-col items-center">
		<div class="flex flex-row py-4 gap-2 w-full justify-between">
			<div class="rounded-[10px] bg-[#FF9D9F] p-1 text-center flex-1 border-2 border-b-4 border-black font-Roboto font-medium">
				Notes
			</div>
			<div class="rounded-[10px] bg-white p-1 text-center flex-1 border-2 border-b-4 border-black font-Roboto font-medium">
				Erlein
			</div>
			<div class="rounded-[10px] bg-white p-1 text-center flex-1 border-2 border-b-4 border-black font-Roboto font-medium">
				About
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>